@import "../../../../varibles";
.container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .shade{
    width: 100%;
    height: 100%;
    background-color: $white;
    position: fixed;
    opacity: 0.3;
  }
}
